@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

/* --------------- Reseteo de propiedades --------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
}

/* --------------- Reseteo de propiedades a침adidas por Bootstrap --------------- */
button:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
  background-color: var(--color-primary);
}

a:hover {
  text-decoration: none;
}

/* --------------- Creaci칩n de variables --------------- */
:root {
  --primary-color-hue: 200;
  --color-dark-light-theme: 15%;
  --color-light-light-theme: 97%;
  --color-white-light-theme: 100%;

  --color-white: hsl(0, 0%, var(--color-white-light-theme));
  --color-light: hsl(232, 10%, var(--color-light-light-theme));
  --color-gray: hsl(252, 15%, 60%);
  --color-primary: hsl(var(--primary-color-hue) 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 60%);
  --color-danger: hsl(0, 95%, 60%);
  --color-dark: hsl(252, 30%, var(--color-dark-light-theme));
  --color-black: hsl(252, 30%, 8%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 1rem;

  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}

/* --------------- Estilos generales --------------- */
body {
  font-family: "Nunito", sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
}

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.profile-picture {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
}

.profile-picture:hover {
  opacity: 0.75;
}

.btn {
  padding: var(--btn-padding);
  display: inline-block;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  font-weight: 700;
  transition: 300ms ease all;
  border: none;
  margin: 0;
}

.btn:hover {
  opacity: 0.75;
}

.btn-primary {
  background: var(--color-primary);
}

.btn-primary:hover {
  background: var(--color-primary);
}

.text-bold {
  font-weight: 500;
}

.text-gray {
  color: var(--color-gray);
}

.btn-lg {
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

/* --------------- Navbar --------------- */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 8;
  padding: 0.7rem 0;
  background-color: var(--color-white);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .search-bar {
  padding: var(--search-padding);
  background: var(--color-light);
  border-radius: var(--border-radius);
}

nav .search-bar input {
  background: transparent;
  border: none;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

nav .search-bar input[type]::placeholder {
  color: var(--color-gray);
}

.logo h3 {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
  color: var(--color-dark);
}

.logo span {
  color: var(--color-primary);
}

.search-results {
  max-height: 15rem;
  overflow-y: auto;
}

/* --------------- Main --------------- */
main {
  position: relative;
  top: 6rem;
}

.main-container {
  display: grid;
  grid-template-columns: 18vw auto 18vw;
  position: relative;
  column-gap: 2rem;
}

/* --------------- Main Izquierda --------------- */
.main-left {
  position: sticky;
  height: max-content;
  top: 5.4rem;
}

.main-left button:first-child {
  margin-bottom: 1rem;
}

.main-left .profile {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  width: 100%;
  gap: 1rem;
  display: flex;
  text-align: start;
  align-items: center;
  color: var(--color-dark);
}

/* ----- Aside ----- */
aside {
  border-radius: var(--card-border-radius);
}

aside .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  position: relative;
  cursor: pointer;
  transition: 300ms ease all;
  background: var(--color-white);
  color: var(--color-dark);
}

aside .menu-item:hover {
  background: var(--color-light);
  text-decoration: none;
}

aside .menu-item h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

aside .active {
  background: var(--color-light);
}

aside .active h3 {
  color: var(--color-primary);
}

aside .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  background: var(--color-primary);
}

aside .menu-item:first-child {
  overflow: hidden;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

aside .menu-item:last-child {
  overflow: hidden;
  border-bottom-left-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
}

/* --------------- Fin Main Izquierda --------------- */

/* --------------- Main Central  --------------- */
/* ----- Feed ----- */
.feeds .feed {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin: 1rem auto;
  line-height: 1.5;
  font-size: 0.85rem;
  position: relative;
}

.feeds :first-child {
  margin: 0;
}

.feeds .feed .feed-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed .feed-top .user {
  display: flex;
  gap: 1rem;
}

.feed .feed-top .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed .feed-img {
  border-radius: var(--card-border-radius);
  overflow: hidden;
  margin: 0.8rem 0;
}

.feed .action-button {
  display: flex;
  gap: 0.5rem;
  font-size: 1.4rem;
}

/* ----- Liked By ----- */
.liked-by {
  display: flex;
  align-items: center;
}

.liked-by span {
  border-radius: 50%;
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  overflow: hidden;
  margin-left: -0.6rem;
  border: 2px solid var(--color-white);
}

.liked-by span:first-child {
  margin: 0;
}

.liked-by span:nth-child(2) {
  z-index: 1;
}

.liked-by p {
  margin-left: 0.3rem;
}

/* ----- Comentarios ----- */
.comments {
  max-height: 15rem;
  overflow-y: auto;
  margin-top: 1rem;
}

.comment {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.comment-user {
  max-width: 100%;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  gap: 1rem;
  margin-top: 1rem;
}

.comment .profile-picture {
  width: 2rem;
  height: 2rem;
}

.comment .profile-picture img {
  width: 100%;
  height: 100%;
}

.comment-user .profile-picture {
  width: 2rem;
  height: 2rem;
}

.comment-user .profile-picture img {
  width: 100%;
  height: 100%;
}

/* --------------- Fin Main Central --------------- */

/* --------------- Inicio Main Izquierda --------------- */
.main-right {
  bottom: 0;
  height: auto;
}

/* --- Trending --- */
.trending {
  position: sticky;
  top: 5.4rem;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
}

.trending-header {
  display: flex;
  text-align: start;
  background: var(--color-white);
  color: var(--color-dark);
  gap: 1rem;
  align-items: center;
}

.trending-body {
  overflow-y: auto;
  max-height: 27rem;
}

.trending-search-bar {
  display: flex;
  align-items: center;
  background: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--card-padding);
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.trending-search-bar input {
  background: transparent;
  border: none;
  font-size: 0.9rem;
  color: var(--color-dark);
}

.tags {
  display: flex;
  gap: 1rem;
}

.tag:last-child {
  margin-bottom: 0;
}


/* --------------- Fin Main Izquierda --------------- */

/* --------------- Fin Main --------------- */

/* --------------- Otras Propiedades --------------- */
span img {
  width: 1.8rem;
  margin-left: 2rem;
  position: relative;
}

.boxshadow:hover {
  box-shadow: 0 0 0.2rem var(--color-primary);
}

.liked {
  font-weight: bold !important;
  color: var(--color-danger);
}

/* Para cambiar el color de los iconos al cambiar el tema de color */
.icon-bg {
  filter: invert(1);
}

.input-style {
  background: var(--color-light);
  padding: 0.5rem;
  border-radius: var(--card-border-radius);
}	

.input-style:focus {
  border: 1px solid var(--color-primary);
}	

.input-style[type="checkbox"] {
  color: var(--color-primary);
  padding: 0.5rem;
  border-radius: var(--card-border-radius);
}

/* --------------- Inicio My Profile --------------- */

.main-middle-profile {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 1rem;
}

.profile-picture-bigger {
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

.profile-feeds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.profile-feed:hover {
  opacity: 0.75;
}

.post-options {
  display: none;
}

.profile-feed:hover .post-options {
  position: absolute;
  top: 0;
  padding: 1rem;
  right: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.personal-info,
.social-info {
  gap: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.profile-info {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-dark);
  height: 7rem;
}

.profile-feeds .profile-feed {
  background: var(--color-white);
  padding: 0.5rem;
  border-radius: var(--card-border-radius);
  position: relative;
}

.profile-feed .feed-img {
  border-radius: var(--card-border-radius);
  height: 12rem;
  overflow: hidden;
}

/* --------------- Modales --------------- */
.modal-style {
  background: var(--color-white);
  border-radius: var(--card-border-radius);
}

/* ----- Profile ----- */
.profile-modal .profile-picture {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
}

.profile-modal .modal-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile-modal .modal-body img {
  margin-top: 1rem;
}

.profile-modal .modal-footer {
  justify-content: center;
}

/* ----- Add Post ----- */
.add-post textarea {
  background: var(--color-light);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  height: 15rem;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-post textarea:focus {
  border: 1px solid var(--color-primary);
}

.add-post .div-image {
  background: var(--color-light);
  border-radius: var(--card-border-radius);
  border: 1px solid var(--color-gray);
  height: 15rem;
  display: flex;
  justify-content: center;
}

/* ----- Update Post ----- */
.update-post textarea {
  background: var(--color-light);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  height: 15rem;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.update-post textarea:focus {
  border: 1px solid var(--color-primary);
}

.update-post .div-image {
  background: var(--color-light);
  border-radius: var(--card-border-radius);
  border: 1px solid var(--color-gray);
  height: 15rem;
  display: flex;
  justify-content: center;
}

/* ----- Theme ----- */
.theme-customize-popup-box .font-size {
  margin-top: 3rem;
}

.theme-customize-popup-box h1 {
  margin-bottom: 0.5rem;
}

/* --- Theme Modificar Tama침o --- */
.theme-customize-popup-box .font-size>div {
  display: flex;
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
  justify-content: space-between;
  align-items: center;
  background: var(--color-light);
  margin: 1rem 0;
}

.font-size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-size {
  height: 0.3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--color-secondary);
  align-items: center;
  gap: 3rem;
  margin: 0 1rem;
}

.choose-size span {
  width: 1rem;
  height: 1rem;
  background: var(--color-secondary);
  cursor: pointer;
  border-radius: 50%;
}

.choose-size .active {
  background: var(--color-primary);
}

/* --- Theme Modificar Color --- */
.colors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-color {
  margin: 1rem 0;
  max-width: 90%;
  border-radius: var(--card-border-radius);
  padding: var(--search-padding);
  background: var(--color-light);
  align-items: center;
}

.choose-color span {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  display: inline-block;
  margin: 0 0.5rem;
}

.choose-color .active {
  border: 2px solid var(--color-dark);
}

.choose-color span:nth-child(1) {
  background: hsl(0, 75%, 60%);
}

.choose-color span:nth-child(2) {
  background: hsl(25, 75%, 60%);
}

.choose-color span:nth-child(3) {
  background: hsl(60, 75%, 60%);
}

.choose-color span:nth-child(4) {
  background: hsl(120, 75%, 60%);
}

.choose-color span:nth-child(5) {
  background: hsl(200, 75%, 60%);
}

.choose-color span:nth-child(6) {
  background: hsl(268, 75%, 60%);
}

.choose-color span:nth-child(7) {
  background: hsl(317, 75%, 60%);
}


/* --- Theme Modificar Background --- */
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.choose-bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-top: 1rem;
}

.choose-bg>div {
  display: flex;
  width: 100%;
  padding: var(--card-padding);
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
}

.choose-bg .active {
  border: 2px solid var(--color-primary);
}

.choose-bg .bg1 {
  background: white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  color: black;
}

.choose-bg .bg2 {
  background: hsl(252, 30%, 17%);
  color: white;
}

.choose-bg>div span {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  border: 2px solid var(--color-gray);
  margin-right: 0.4rem;
}


/* --------------- Inicio Media Queryes --------------- */

/* Max width (767px) - Pantalla de m칩vil */
@media (max-width: 767px) {
  .container {
    width: 90%;
  }

  .main-container {
    grid-template-columns: none;
  }

  .main-left {
    z-index: 1000;
  }

  nav .search-bar,
  .main-right,
  .main-container .main-left .profile,
  aside h3,
  aside .btn {
    display: none;
  }

  aside {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    display: flex;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 3px var(--color-primary);
  }

  aside .menu-item {
    height: 3rem;
  }

  aside .menu-item span {
    margin-right: 1rem;
  }

  aside .menu-item span img {
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
  }

  aside .active::before {
    width: 0;
    background: none;
  }

  aside .menu-item:first-child {
    overflow: hidden;
    border-bottom-left-radius: var(--card-border-radius);
    border-top-right-radius: 0px;
  }

  aside .menu-item:last-child {
    overflow: hidden;
    border-top-right-radius: var(--card-border-radius);
    border-bottom-left-radius: 0px;
  }

  .profile-feeds {
    grid-template-columns: repeat(2, minmax(auto, auto));
  }
}

/* Max width (1023px) - Pantalla de tablet */
@media (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .main-container {
    grid-template-columns: auto auto;
  }

  .main-left {
    width: 6rem;
    top: 5.4rem;
  }

  .main-container .main-left .profile {
    display: none;
  }

  aside h3 {
    display: none;
  }

  aside .btn {
    display: none;
  }

  nav .search-bar input {
    width: 20vw;
  }

  .main-right {
    display: none;
  }
}